<?xml version="1.0" encoding="UTF-8"?>
<ruleset name="d8-playground">
  <description>PHP CodeSniffer configuration.</description>
  <file>web/modules/custom</file>
  <arg name="extensions" value="php,module,inc,install,test,profile,theme,css,info,txt,yml"/>
  <config name="drupal_core_version" value="8"/>
  <rule ref="vendor/drupal/coder/coder_sniffer/Drupal">
    <exclude name="Drupal.InfoFiles.AutoAddedKeys"/>
  </rule>
  <rule ref="vendor/drupal/coder/coder_sniffer/DrupalPractice"/>
</ruleset>
